*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container{
    width: 100%;
    background-color: rgba(212, 211, 211, 0.357);
    outline: .01rem solid rgba(212, 211, 211, 0.357);
    /* padding-top: .1rem; */
}

button{
    border: none;
    outline: none;
    color: white;
}


nav{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px -5px rgba(0 0 0 / .5);
    padding:  1rem;
}

ul{
    list-style: none;
}

ul li{
    padding-left: .5rem;
}

label{
    color: black;
}

.nav_brand{
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 85% 53%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 85% 53%, 75% 100%, 0% 100%);
}

.nav_logo{
    display: inline-block;
    color: royalblue;
    text-decoration: none;
    font-size: 1.3rem;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 255, 255, 0.325);
    /* height: 100vh; */
}

form{
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    transition: heigth 1s;
    overflow: hidden;
    height: 0;
    transition: height .3s, padding .1s;
    background-color: #fff;
}

.btn--showForm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: .5rem;
}

.form_group{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form_control{
    max-width: 100%;
    outline: none;
    border: .05rem solid rgba(0 0 0 / .2);
    padding: .7rem;
    border-radius: .3rem;
    font-family: inherit;
    background-color: rgb(255, 255, 255);
}

.form_control::placeholder{
    color: rgb(211, 211, 211);
}

.form_group label{
    margin-bottom: .5rem;
}

.checkbox_form{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.btn{
    background-color: royalblue;
    color: white;
    padding: .4rem .5rem;
    box-shadow: 0px 0px 10px -7px rgba(0 0 0 / .2);
    border: none;
    outline: none;
    border-radius: 100%;
}

.btn--form{
    background-color: royalblue;
    border-radius: .4rem;
    padding: .5rem;
}

.btn:active{
    box-shadow: inset;
}

.nav-btns{
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 255, 0.707);
    padding: .3rem;
    border-radius: 20px;
}

.nav-btn-activate{
    background-color: blue;
}

.disable{   
    filter: opacity(.5);
    cursor: no-drop;
    pointer-events: none;
}

.list_todos{
    list-style: none;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0%, 100%));
    gap: 1rem;

    padding: 1rem;
    overflow-y: scroll;
}

.todo-card{
    box-shadow: 0px 0px 10px -5px rgba(83, 0, 0, 0.3);
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    /* align-items: center; */
    border-radius: .3rem;

    color: royalblue;
    background-color: #fff;
    transition: transform .5s;
    position: relative;
}

.todo-card--show{
    cursor: pointer;
    background-color: #fff;
    animation: rotate .8s linear 1 both;
}

.todo-card--show::after{
    content: 'Pronto...';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    transition: background-color .3s 300ms, opacity .3s 300ms;
    color: white;
    transform: rotateY(180deg);
    opacity: 0;
}

.todo-card--show:hover::after{
    border-radius: .4rem;
    background-color: #fff;
    color: royalblue;
    opacity: 1;
}

.btn--showForm{
    border: none;
    outline: none;
    color: white;
    padding: .5rem;
    border-radius: .4rem;
    background-color: blue;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

@keyframes rotate {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(180deg);
    }
}

.todo-pannel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.showDescription{
    background-color: #fff;
    color: royalblue;
    cursor: pointer;
}

.todo-created{
    padding: 0 1rem;
}

.todo-card:hover .todo-title{
    text-decoration: underline;
}

aside{
    position: relative;
}

.aside-absolute{
    position: absolute;
    inset: 0;
}

.aside-about{
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}

.aside-img{
    max-width: 100%;
    height: auto;
}

.aside-about-content{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.title-content{
    color: royalblue;
    align-items: center;
    margin-bottom: 1rem;
}

.paragrap-content{
    font-size: .9em;
    text-align: justify;
    line-height: 1.5;
}

.todo-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.activate{
    color: greenyellow;
    font-size: .7rem;
}

.desactivate{
    color: cornflowerblue;
    font-size: .7rem;
}

.todo-card .todo-created {
    font-size: .7rem;
}

.btn--todo{
    padding: .2rem .3rem ;
    box-shadow: initial;
}


.deleted{
    background-color: red;
    color: white;
    border-radius: .2rem;
    /* border: none; */
    outline: none;
}

.todo-text{
    padding: 0 1rem ;
    font-size: .9rem;
    color: black;
}








.popUp-fixed{
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popUp{
    background-color: #fff;
    width: 90%;
    max-width: calc(100% - 30vw);
    box-shadow: 0px 0px 10px -5px rgba(255, 0, 0, 0.252);
    outline: .1rem solid rgba(211, 211, 211, 0.503);
    
    border-radius: .4rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.popUp-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: red;
}


.popUp-paragraph{
    font-size: .8rem;
    color: rgba(0 0 0 / .7);
}

.popUp-content{
    display: flex;
    gap: .5rem;
}

.popUp-content :nth-child(1){
    background-color: red;
    color: white;
    border-radius: .2rem;
    border: none;

}

.btn--todo .valid{
    border: none;
    outline: none;
}

@media (min-width: 1084px) {
    form{
        height: fit-content;
        padding: 1rem !important;
    }

    .container{
        width: 100%;
        display: grid;
        grid-template-columns: 15% 1fr 15%;
    }

    .form_btn{
        display: none;
    }

    .list_todos{
        grid-template-columns: repeat(3, minmax(0, 100%));
        align-content: flex-start;
        align-items: start;
        gap: auto;
        height: 100%;
    }

    .todo-card{
        gap: .5rem;
    }

    .aside-absolute{
        padding-left: 1rem;
    }


    .popUp{
        max-width: 300px;
    }
}